section {
  margin: 50px 25%;
}

.Container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 1fr 1fr;
  width: 200px;
}

button:nth-child(4n+1) {
  background-color: rgb(245, 145, 62);
}

.equal-sign {
  background-color: rgb(245, 145, 62);
}

.grid-element {
  min-height: 80px;
}

.output {
  background-color: rgb(133, 134, 148);
  grid-column: span 4;
  text-align: right;
}

.operator {
  background-color: rgb(245, 145, 62);
}

.zero-button {
  grid-column: span 2;
}
